modules = ["nodejs-18", "python-3.11", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "libxcrypt", "postgresql"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[ports]]
localPort = 4001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80
